<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">

  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold" routerLink="/">
      TP Angular
    </a>

    <!-- Toggle -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Acerca de</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/punto1">Punto 1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/inscripciones">Inscripciones</a>
        </li>

        <li class="nav-item">
          <button class="btn" (click)="toggleTheme()">
            <i *ngIf="theme === `light`" class="bi bi-sun-fill"></i>
            <i *ngIf="theme === `dark`" class="bi bi-moon-stars"></i>
          </button>
        </li>
      </ul>

    </div>

  </div>

</nav>


<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
